	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<!-- Favicon-->
		<link rel="shortcut icon" th:href="@{/index_img/fav.png}"/>
		<!-- Author Meta -->
		<meta name="author" content="codepixer"/>
		<!-- Meta Description -->
		<meta name="description" content=""/>
		<!-- Meta Keyword -->
		<meta name="keywords" content=""/>
		<!-- meta character set -->
		<meta charset="UTF-8"/>
		<!-- Site Title -->
		<title>Job Listing</title>

		<link th:href="@{/index_https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700}" rel="stylesheet"/> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" th:href="@{/index_css/linearicons.css}"/>
			<link rel="stylesheet" th:href="@{/index_css/font-awesome.min.css}"/>
			<link rel="stylesheet" th:href="@{/index_css/bootstrap.css}"/>
			<link rel="stylesheet" th:href="@{/index_css/magnific-popup.css}"/>
			<link rel="stylesheet" th:href="@{/index_css/nice-select.css}"/>					
			<link rel="stylesheet" th:href="@{/index_css/animate.min.css}"/>
			<link rel="stylesheet" th:href="@{/index_css/owl.carousel.css}"/>
			<link rel="stylesheet" th:href="@{/index_css/main.css}"/>
		</head>
		<body>

			  <header id="header" id1="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a th:href="@{/index_index.html}"><img th:src="@{/index_img/logo.png}" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a >Home</a></li>
				          <li><a th:href="@{/index_about-us.html}">About Us</a></li>
				          <li><a th:href="@{/index_category.html}">Category</a></li>
				          <li><a th:href="@{/index_price.html}">Price</a></li>
				          <li><a th:href="@{/index_blog-home.html}">Blog</a></li>
				          <li><a th:href="@{/index_contact.html}">Contact</a></li>
				          <li class="menu-has-children"><a >Pages</a>
				            <ul>
								<li><a th:href="@{/index_elements.html}">elements</a></li>
								<li><a th:href="@{/index_search.html}">search</a></li>
								<li><a th:href="@{/index_single.html}">single</a></li>
				            </ul>
				          </li>
				          <li><a class="ticker-btn" th:href="@{/login}">Login</a></li>
				        		          				          
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								<span>15+</span> Jobs available today			
							</h1>	
							
							<p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			

			<script th:src="@{/index_js/vendor/jquery-2.2.4.min.js}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script th:src="@{/index_js/vendor/bootstrap.min.js}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script th:src="@{/index_js/easing.min.js}"></script>			
			<script th:src="@{/index_js/hoverIntent.js}"></script>
			<script th:src="@{/index_js/superfish.min.js}"></script>	
			<script th:src="@{/index_js/jquery.ajaxchimp.min.js}"></script>
			<script th:src="@{/index_js/jquery.magnific-popup.min.js}"></script>	
			<script th:src="@{/index_js/owl.carousel.min.js}"></script>			
			<script th:src="@{/index_js/jquery.sticky.js}"></script>
			<script th:src="@{/index_js/jquery.nice-select.min.js}"></script>			
			<script th:src="@{/index_js/parallax.min.js}"></script>		
			<script th:src="@{/index_js/mail-script.js}"></script>	
			<script th:src="@{/index_js/main.js}"></script>	
		</body>
	</html>



