<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	rel="stylesheet" type="text/css"></link>
<title>:: GTS :: Panneau de configuration</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="row">
			<h2>Utilisateur</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom prénom</th>
						<th>E-mail</th>
						<th>Date de naissance</th>
						<th>Ecole</th>
						<th>Horaire de ramassage</th>
						<th>Compte du etudiant</th>
						<th>Action</th>
					</tr>

				</thead>
				<tr th:each="o: ${etudiants}">
					<th th:text="${o.id}" />
					<td th:text="${o.nom} + ' ' + ${o.prenom}" />
					<td th:text="${o.email}" />
					<td th:text="${o.dateNaissance}" />
					<td th:text="${o.ecole.nom}" />
					<td th:text="${o.pdr.point}?'{o.pdr.horaire}':'Horaire pas programmé'" />
					<td th:text="${o.isActive}? 'Actif':'Inactif'" />
					<td><a th:href="@{/etudiants/details/{id}(id=${o.id})}"
						class="btn btn-primary" role="button">Plus d'information</a> <a
						th:href="@{/etudiants/delete/{id}(id=${o.id})}"
						class="btn btn-danger" role="button">X</a></td>
				</tr>
				<tr>
					<td colspan="4"><a th:href="@{/etudiants/add}"
						class="btn btn-success" role="button">Ajouter</a></td>
				</tr>
			</table>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script src="/webjars/jquery/3.2.1/jquery.js"></script>
	<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>
</body>
</html>