<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	rel="stylesheet" type="text/css"></link>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-inverse">
			<footer>
				© 2017 GTS <span sec:authorize="isAuthenticated()"> |
					E-mail connecté: <span sec:authentication="name"></span> |
					<a th:href="@{/logout}">Se déconnecter</a>
				</span>

				<script type="text/javascript"
					src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			</footer>
		</nav>
	</div>
	<script src="../webjars/jquery/3.2.1/jquery.js"></script>
	<script src="../webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>
</body>
</html>